.progress {
    height: 16px;
}

div.separate {
    background-image: url('/static/images/tile2.png');
    background-repeat:repeat-x;
    height:100px;
} 

body {
    background-color: pink;
}